{% extends "layout.html" %}

{% block main %}
        <fieldset>
            <table style="width:100%">
                <tr>
                    <th> Symbol </th>
                    <th> Name </th>
                    <th> Price of Stock </th>
                    <th> Shares </th>
                    <th> Total </th>
                </tr>
                {% for test in testing if not test['sum']==0 %}
                <tr>
                <td>
                    <p> {{test['symbol']}}</p>
                </td>
                <td>
                    <p> {{test['symbol']}}</p>
                </td>
                <td>
                    <p>{{"$%.2f"|format(test['price'])}} </p>
                </td>
                <td>
                    <p>{{test['sum']}}</p>
                </td>
                <td>
                    <p>{{"$%.2f"|format(test['sum']*test['price'])}}</p>
                </td>
                </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Current Amount of Cash</td>
                    <td>{{"$%.2f"|format(cash[0]['cash'])}}</span>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Grand Total</td>
                    <td>
                    {% set ran = [cash[0]['cash']] %}
                    {% for test in testing %}
                        {% if ran.append(ran.pop() + test['sum']*test['price']) %}{% endif %}
                    {% endfor %}
                    {{"$%.2f"|format(ran.pop())}}
                    </td>
                </tr>
            </table>
        </fieldset>
{% endblock %}
