{% extends "layout.html" %}
<!--stocks owned-->
<!--shared owned for each stock-->
<!--current price of each stock-->
<!--total value of each holding -->
<!--users current cash balance -->
<!--grand total of cash + stocks total value -->
{% block main %}
        <fieldset>
            <table style="width:100%">
                <tr>
                    <th> Stock Symbol </th>
                    <th> Stock Name </th>
                    <th> Price of Stock </th>
                    <th> Number of Shares Owned</th>
                    <th> Total </th>
                </tr>
                {% for test in testing %}
                <tr>
                <td>
                    <p> {{test['symbol']}}</p>
                </td>
                <td>
                    <p> {{test['symbol']}}</p>
                </td>
                <td>
                    <p> {{test['price']}}</p>
                </td>
                <td>
                    <p>{{test['sum']}}</p>
                </td>
                <td>
                    <p> {{test['sum']*test['price']}}</p>
                </td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Current Amount of Cash</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> {{cash[0]['cash']}}</td>
                </tr>
                <tr>
                    <td>Grand Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                    {% set ran = [cash[0]['cash']] %}
                    {% for test in testing %}
                        {% if ran.append(ran.pop() + test['sum']*test['price']) %}{% endif %}
                    {% endfor %}
                    {{ ran.pop() }}
                    </td>
                </tr>
            </table>
        </fieldset>
{% endblock %}
